#graph {
    position: absolute;
    z-index: 500;
}

.link {
    stroke: #999;
    stroke-opacity: 0.6;
}

.node {
    cursor: pointer;
    fill: #000;
}

.highlight {
    stroke: #f00;
    stroke-width: 2px;
}

.labels>text {
    fill: rgb(2, 215, 230);
    stroke: rgb(32, 36, 45);
    stroke-width: 0.5px;
    font-size: 1.3rem;
}

.labels>text:hover {
    cursor: pointer;
}

.link-labels>text {
    fill: red;
}

.highlight {
    stroke-width: 5px;
}

.arrow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.arrow {
    pointer-events: none;
}

.arrow__path {
    stroke: #000;
    fill: transparent;
    stroke-dasharray: 4 2;
}

.arrow__head line {
    stroke: #000;
    stroke-width: 1px;
}